body {
    width: 100%;
    height: 100vh;
    background-color: #39392d;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(251, 250, 250);
}

ul, ol{
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0px; 
    padding: 18px;
    justify-content: space-around;
    background-color:#c1d2006d;
}

.header{
    display: flex;
    justify-content: center;
}

.content{
    flex: 1;
}

#homepage-list li {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    flex: 1;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

img {
    margin: 0px;
    width: 300px;
    height: 255px;
}


figcaption {
    text-align: center;
}

p ,li {
    color: #007f5f;
    font-size: 24px;
    font-weight: bold;
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
}