body {
    width: 100%;
    height: 100vh;
    background-color: #39392d;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(251, 250, 250);
}

ul, ol{
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0px; 
    padding: 18px;
    justify-content: space-around;
    background-color:#c1d2006d;
}

.header{
    display: flex;
    justify-content: center;
}

.content{
    flex: 1;
}

#homepage-list li {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    flex: 1;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

img {
    margin: 0px;
    width: 300px;
    height: 255px;
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
}

/* Recipe pages style*/

.recipes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

figcaption {
    padding: 15px 30%;
    text-align:justify;
}

p{
    color: white;
    font-weight: 900;
}

.ingredients{
    display: flex;
    flex-direction: column;

}

.ingredients ul, ol{
    display: flex;
    flex-direction: column;
    padding: 16px 25%;
    gap: 10px;
    background-color:#c1d2004c;
    color: white;
    font-weight: 700;
    text-align: justify;
    
    list-style:upper-roman;
}

.ingredients ul{
    list-style-type:square;
}